body{
    display: flex;
    background-color: hsl(47, 88%, 63%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    max-width: 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.card-image{
    width: 100%;
    display: block;
}
span{
    display: inline-block;
    padding: 4px 12px;
    background-color: yellow;
    font-weight: bold;
    border-radius: 25px;
}
.tag{
    border-radius: 25px;
    background-color: yellow;
    padding: 4px 12px;
    margin-top: 16px;
}